<div xmlns:t3extblog="http://typo3.org/ns/TYPO3/T3extblog/ViewHelpers/Backend" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Backend" />

<f:section name="main">
	<h3><f:translate key="module.post.title" /></h3>

	<div class="panel panel-space panel-default">
		<f:if condition="{posts}">
			<f:then>
				<div class="table-fit">
				<f:widget.paginate objects="{posts}" as="paginatedPosts" configuration="{settings.backend.posts.paginate}">
					<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist table table-striped table-hover">
						<thead>
							<tr class="t3-row-header">
								<td>&nbsp;</td>
								<td><f:translate key="module.post.table.title" /></td>
								<td><f:translate key="module.post.table.date" /></td>
								<td><f:translate key="module.post.table.author" /></td>
								<td><f:translate key="module.post.table.comments" /></td>
								<td style="width: 75px;">&nbsp;</td>
								<f:if condition="{settings.subscriptionManager.blog.subscriber.enableNotifications}">
									<td style="width: 25px;">&nbsp;</td>
								</f:if>
							</tr>
						</thead>

						<f:for each="{paginatedPosts}" as="post">
							<tr class="db_list_normal">
								<td class="col-icon">
									<f:comment>@todo Remove onclick event when TYPO3 6.2 is no longer relevant</f:comment>
									<a href="#"
									   onClick="if (window.showClickmenu) showClickmenu('tx_t3blog_post', '{post.uid}', '1', '', '', ''); return false;"
									   class="t3-js-clickmenutrigger"
									   data-uid="{post.uid}"
									   data-table="tx_t3blog_post"
									   title="{post.uid}">
										<t3extblog:spriteIconForRecord table="tx_t3blog_post" object="{post}" />
									</a>
								</td>
								<f:render partial="Backend/Post/RowContent" arguments="{post: post, dateFormat: dateFormat, timeFormat: timeFormat}" />
								<f:if condition="{settings.subscriptionManager.blog.subscriber.enableNotifications}">
									<td>
										<f:if condition="{post.mailSendingAllowed}">
											<f:link.action
												title="{f:translate(key: 'module.post.sendBlogSubscriptionEmails')}"
												action="sendPostNotifications" arguments="{post: post}"
												onclick="return confirm(\"{f:translate(key: 'general.confirm')}\");">
													<t3extblog:spriteManagerIcon iconName="extensions-t3extblog-subscriber" />
											</f:link.action>
										</f:if>
									</td>
								</f:if>
							</tr>
							<t3extblog:localization translations="localizedRecords" table="tx_t3blog_post" object="{post}">
								<f:for each="{localizedRecords}" as="localizedPost">
									<tr class="db_list_normal localized">
										<td class="col-icon">
											<f:format.raw>{localizedPost.editIcon}</f:format.raw>
										</td>
										<f:render partial="Backend/Post/RowContent" arguments="{post: '{t3extblog:getPost(uid: localizedPost.uid, respectEnableFields: 0)}', dateFormat: dateFormat, timeFormat: timeFormat}" />
										<td></td>
									</tr>
								</f:for>
							</t3extblog:localization>
						</f:for>

						<tr>
							<td colspan="{f:if(condition: '{settings.subscriptionManager.blog.subscriber.enableNotifications}', then: 7, else: 6)}">
								<f:translate
									key="module.post.table.count"
									arguments="{0: '{paginatedPosts -> f:count()}', 1: '{posts -> f:count()}'}" />
							</td>
						</tr>
					</table>
				</f:widget.paginate>
				</div>
			</f:then>
			<f:else>
				<div class="panel-body">
					<em><f:translate key="module.post.noRecords" /></em>
				</div>
			</f:else>
		</f:if>
	</div>
</f:section>


<f:section name="iconButtons">
	<div class="buttongroup">
		<span>{f:translate(key: 'module.buttons.new')}</span>

		<t3extblog:link.editOnClick parameters="edit[tx_t3blog_post][{pageId}]]=new" title="{f:translate(key: 'module.buttons.new.post')}">
			<t3extblog:SpriteManagerIcon iconName="extensions-t3extblog-post" />
		</t3extblog:link.editOnClick>
	</div>
</f:section>

</div>