/* default styles for extension "tx_indexedsearch" */
		.tx-indexedsearch .tx-indexedsearch-browsebox LI { display:inline; margin-right:5px; }
		.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-button { width:100px; }
		.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-sword { width:150px; }
		.tx-indexedsearch .tx-indexedsearch-whatis { margin-top:10px; margin-bottom:5px; }
		.tx-indexedsearch .tx-indexedsearch-whatis .tx-indexedsearch-sw { font-weight:bold; font-style:italic; }
		.tx-indexedsearch .tx-indexedsearch-noresults { text-align:center; font-weight:bold; }
		.tx-indexedsearch .tx-indexedsearch-res TD.tx-indexedsearch-descr { font-style:italic; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-descr .tx-indexedsearch-redMarkup { color:red; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-info { background:#eeeeee; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead { margin-top:20px; margin-bottom:5px; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead H2 { margin-top:0px; margin-bottom:0px; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead TD { background:#cccccc; vertical-align:middle; }
		.tx-indexedsearch .tx-indexedsearch-res .noResume { color:#666666; }
		.tx-indexedsearch .tx-indexedsearch-category { background:#cccccc; font-size:16px; font-weight:bold; }

		/* Additional styles, needed for the tableless template_css.tmpl (styles don't conflict with the original template) */
		.tx-indexedsearch .res-tmpl-css { clear:both; margin-bottom:1em; }
		.tx-indexedsearch .searchbox-tmpl-css LABEL { margin-right:1em; width:10em; float:left; }
		.tx-indexedsearch .result-count-tmpl-css, .tx-indexedsearch .percent-tmpl-css { letter-spacing:0; font-weight:normal; margin-top:-1.2em; float:right; }
		.tx-indexedsearch .info-tmpl-css dt, .tx-indexedsearch dl.info-tmpl-css dd { float:left; }
		.tx-indexedsearch .info-tmpl-css dd.item-mtime { float:none; }
		.tx-indexedsearch .info-tmpl-css dd.item-path { float:none; }
/* default styles for extension "tx_ptextlist" */
	
	/* List */
	.tx-ptextlist-list-standard {
		border-collapse: collapse;
		border-spacing: 0;
		font-size: 12px;
		width: 100%;
	}
	
	.tx-ptextlist-list-standard th {
		background: #AAA;
		border: 1px solid #bfbfbf;
		padding: 4px;
		white-space: nowrap;
	}
	
	.tx-ptextlist-list-standard td {
		border: 1px solid #bfbfbf;
		margin: 0px;
		padding: 2px 4px 2px 4px;
		vertical-align: top;
	}
	
	.tx-ptextlist-list-standard tr.odd {
		background-color: #ffffff;
	}
	
	.tx-ptextlist-list-standard tr.even {
		background-color: #F5F5F5;
	}
	
	
	/* Listheader */
	.tx-ptextlist-list-header a {
		text-decoration: none;
	}
	
	.tx-ptextlist-list-header img {
		border: none;
	}
	
	
	/* Aggregates */
	.tx-ptextlist-aggregaterow {
		background-color: #DDDDDD;
		font-weight: bold;
	}

	/* Export */

	.tx-ptextlist-list-exportLink {
	    margin: 5px;
	}

	/* Column selector */
	.tx-ptextlist-columnSelector{
		border: 1px solid #BFBFBF;
		margin-bottom: 20px;
		padding: 5px;
		overflow: hidden;
		background-color: #eee;
	}


	/* Filters */
	.tx-ptextlist-filterbox {
		border: 1px solid #BFBFBF;
		margin-bottom: 20px;
		padding: 5px;
		overflow: hidden;
		background-color: #eee;
	}
	
	.tx-ptextlist-filterboxcontrols {
		/* float: left; */
		clear: both;
		padding: 18px 0 0 10px;
	}

	.tx-ptextlist-filters {
		list-style-type: none;
	}
	
	.tx-ptextlist-filter {
		float: left;
		margin: 20px;
		padding: 10px;
		list-style-type: none;
		background-color: #ccc;
		border: 1px solid #AFAFAF;
	}



	/* Filters | Firstletter */	
	.tx-ptextlist-filter-firstLetter{
		float: left;
		padding: 3px;
		list-style-type: none;
	}

	.type-button .reset {
		margin-left: 1em;
	}
	
	/* Filters | TagClud */
	.tx-ptextlist-filter-tagCloud-list li {
		float: left;
		list-style: none outside none;
		margin-right: 6px;
		margin-top: 3px;

	}
	
	.tx-ptextlist-filter-tagCloud-list li a:hover {
		text-decoration: underline;
	}
	
	/* Pager */
	.tx-ptextlist-pager-wrapper {
	    border: 1px solid #BFBFBF;
        margin-top: 20px;
        padding: 5px;
        overflow: hidden;
        background-color: #eee;
	}
	
	.tx-ptextlist-pager {
		margin-left: 0;
		text-align: center;
	}
	
	.tx-ptextlist-pager li {
		display: inline;
	}
	
	.tx-ptextlist-pager-item-display {
		color: #777;
	}
/* default styles for extension "tx_felogin_pi1" */
		.tx-felogin-pi1 label {
			display: block;
		}
