{namespace k=Karina\ViewHelpers}

<div class="teaser-home">
    <div class="row">
        <f:for each="{data.tx_gridelements_view_children}" as="child">
            <div class="col-xs-12 col-lg-4">
                <k:GetFileReference as="fileReference" tableName="tt_content" fieldName="assets" uid="{child.uid}">
                    <f:image class="img-rounded img-responsive img-center" width="140" height="140" src="{fileReference.uid}" treatIdAsReference="TRUE" />
                </k:GetFileReference>
                <h2>{child.header}</h2>
                <p>{child.bodytext}</p>
                <p><a class="btn btn-default" href="#" role="button">Mehr lesen &raquo;</a></p>
            </div>
        </f:for>
    </div>
</div>