{namespace k=Karina\viewhelpers}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <f:for each="{data.tx_gridelements_view_children}" as="child" iteration="iterator">
            <li data-target="#myCarousel" data-slide-to="{child.uid}"></li>
        </f:for>
    </ol>
    <div class="carousel-inner" role="listbox">
        <f:for each="{data.tx_gridelements_view_children}" as="child" iteration="iterator">
            <div class="item {f:if(condition: '{iterator.index} == 1', then: 'active')}">
                <k:getfilereference as="fileReference" tableName="tt_content" fieldName="assets" uid="{child.uid}">
                    <f:image class="first-slide" src="{fileReference.uid}" treatIdAsReference="TRUE" />
                </k:getfilereference>
                <div class="container">
                    <div class="carousel-caption">
                        <div class="col-md-offset-7">
                            <h1>{child.header}</h1>
                            <p>{child.bodytext}</p>
                            <p><f:link.page pageUid="{child.header_link}" class="btn btn-lg btn-default">{child.rowDescription}</f:link.page></p>
                        </div>
                    </div>
                </div>
            </div>
        </f:for>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div><!-- /.carousel -->