{namespace k=Karina\ViewHelpers}

<div class="col-xs-12 col-sm-8">
    <f:format.raw>{data.tx_gridelements_view_column_10}</f:format.raw>
</div>
<div class="col-xs-12 col-sm-4">
    <f:format.raw>{data.tx_gridelements_view_column_20}</f:format.raw>
</div>
