{namespace k=Karina\ViewHelpers}

<div class="well">
    <div class="teaser-home">
        <img class="img-rounded img-responsive img-center" width="140" height="140" src="fileadmin/Images/dsc0167001.jpg" />
        <h4>Über mich</h4>
        <p> Ich bin Karina, ich bin 27 und wohne in der schönsten Stadt der Welt <3.Ich liebe es, schöne Dinge selber herzustellen :) Sei es mit der Nähmaschine, mit Strick- oder mit Häkelnadeln. Es macht mir alles unglaublich viel Spaß <3 Ich entdecke ständig neue Anleitungen und Anregungen für potentielle Projekte und möchte diese alle festhalten und mit der ganzen Welt teilen! Viel Spaß beim Lesen und Schauen!</p>
        <p><f:link.typolink class="btn btn-default" parameter="3">Mehr lesen &raquo;</f:link.typolink></p>
    </div>
</div>