<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">

	<f:if condition="{comments}">
		<div class="well">
			<h3>Letzte Kommentare</h3>
			<f:widget.paginate objects="{comments}" as="paginatedComments" configuration="{settings.latestComments.paginate}">
				<f:for each="{paginatedComments}" as="comment">
					<f:render partial="Comment/Show" arguments="{post: comment.post, comment: comment}" />
				</f:for>
			</f:widget.paginate>
		</div>
	</f:if>

</f:section>

</div>