<div xmlns:t3b="http://typo3.org/ns/TYPO3/T3extblog/ViewHelpers/Frontend" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">
	<f:render partial="Post/Meta" arguments="{post: post, settings: settings}" />
	<article class="well">
		<h2>
			<f:link.action controller="Post" action="show" arguments="{post.linkParameter}" >
				{post.title}
			</f:link.action>
		</h2>
		<p class="top">
			<f:if condition="{post.author.uid}">
				<f:link.action controller="Post" action="author" arguments="{author: post.author}">
					<t3b:typo3Version version="7.5" operator=">=">
						<f:comment>@todo Remove version condition when TYPO3 6.2 is no longer relevant</f:comment>
						<img src="{t3b:backendUserAvatar(uid: '{post.author.uid}')}" class="img-circle" alt="Avatar of {post.author.name}" />
					</t3b:typo3Version>
					<span class="author">{post.author.name}</span>
				</f:link.action> -
			</f:if>
			<f:cObject typoscriptObjectPath="lib.tx_t3extblog.date" data="{f:format.date(format:'U' date:'{post.publishDate}')}" />
			-
			<f:render partial="Post/Categories" arguments="{post: post}" />
		</p>

		<f:if condition="{post.content}">
			<div class="content">
				<t3b:renderContent contentElements="{post.content}" />
			</div>
		</f:if>

		<div class="bottom row">
			<div class="col-xs-4">
				<f:link.action controller="Post" action="show" arguments="{post.linkParameter}" section="comment-section">
					<span class="badge">
						<span class="icon icon-comments glyphicon glyphicon-comment" aria-hidden="true"></span>
						<f:count subject="{post.comments}" />
						<f:translate key="post.comments" />
					</span>
				</f:link.action>
				&nbsp;
				<f:link.action controller="Post" action="permalink" arguments="{permalinkPost: post.uid}" class="permalink">
					<span class="icon icon-link glyphicon glyphicon-link" aria-hidden="true"></span>
					<f:translate key="post.permalink" />
				</f:link.action>
			</div>
			<div class="col-xs-8 text-right">
				<f:render partial="Post/TagCloud" arguments="{post: post}" />
			</div>
		</div>
	</article>

	<f:if condition="{newComment}">
		<div id="comment-section">
			<div class="well" id="comment-form">
				<f:render partial="Comment/New" arguments="{post: post, newComment: newComment, settings: settings}" />
			</div>

			<h3><f:count subject="{post.comments}" /> <f:translate key="post.comments" /></h3>

			<f:if condition="{post.comments}">
				<div id="comment-list">
					<f:widget.paginate objects="{post.commentsForPaginate}" as="paginatedComments" configuration="{settings.blogsystem.comments.paginate}">
						<f:for each="{paginatedComments}" as="comment">
							<f:render partial="Post/Comment" arguments="{post: post, comment: comment}" />
							<hr>
						</f:for>
					</f:widget.paginate>
				</div>
			</f:if>
		</div>
	</f:if>
</f:section>

</div>