<div xmlns:t3b="http://typo3.org/ns/TYPO3/T3extblog/ViewHelpers/Frontend" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:render partial="Post/Filter" arguments="{category: category, tag: tag, author: author}" />
<f:widget.paginate objects="{posts}" as="paginatedPosts" configuration="{settings.blogsystem.posts.paginate}">
	<f:for each="{paginatedPosts}" as="post">
		<article>
			<div class="date-headline">
				<div class="date-headline-inner">
					<f:cObject typoscriptObjectPath="lib.tx_t3extblog.date" data="{f:format.date(format:'U' date:'{post.publishDate}')}" />
				</div>
			</div>
			<h2 class="text-center">
				<f:link.action controller="Post" action="show" arguments="{post.linkParameter}">
					{post.title}
				</f:link.action>
			</h2>
			<div class="text-center margin-b">
				<f:link.action controller="Post" action="show" arguments="{post.linkParameter}" section="comment-list">
					<f:count subject="{post.comments}" />
					Kommentar(e)
				</f:link.action>
				<f:link.action controller="Post" action="show" arguments="{post.linkParameter}" section="comment-list">
					&nbsp;&nbsp;Kommentar schreiben
				</f:link.action>
			</div>
			<f:if condition="{post.content}">
				<div class="teaser clearfix">
					<f:render section="teaser" arguments="{post: post, settings: settings}" />
				</div>
			</f:if>

		</article>
		<br/>
	</f:for>
</f:widget.paginate>

<f:section name="teaser">
	<f:if condition="{post.previewMode} == 0">
		<f:then>
			<f:if condition="{post.previewText}">
				<f:then>
					<f:render partial="Post/PreviewImage" arguments="{post: post, settings: settings}" />

					<f:format.html>{post.previewText}</f:format.html>

					<f:render section="moreButton" arguments="{post: post, settings: settings}" />
				</f:then>
				<f:else>
					<t3b:renderContent contentElements="{post.content}" />
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:for each="{post.content}" as="content" iteration="iterator">
				<f:if condition="{iterator.index} < {post.previewMode}">
					<t3b:renderContent contentElements="{0: content}" />
				</f:if>
			</f:for>
			<f:render section="moreButton" arguments="{post: post, settings: settings}" />
		</f:else>
	</f:if>
</f:section>

<f:section name="moreButton">
	<f:link.action controller="Post" action="show" arguments="{post.linkParameter}" class="btn btn-default">
		weiterlesen &raquo;
	</f:link.action>
</f:section>

</div>