{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<footer class="row">
    <div class="col-xs-12 text-center">
        <v:page.menu pageUid="{settings.pidFooter}" entryLevel="0" expandAll="TRUE" levels="3" showHiddenInMenu="FALSE" as="footerMenu" classCurrent="" classActive="active" classHasSubpages="hasSub">
            <f:for each="{footerMenu}" as="menuItem" iteration="iterator">
                <f:link.typolink parameter="{menuItem.uid}">{menuItem.title}</f:link.typolink>
                <f:if condition="{iterator.isLast}">
                    <f:else>
                        |
                    </f:else>
                </f:if>
            </f:for>
        </v:page.menu>
    </div>
</footer>