{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<header>
    <div class="row hidden-xs">
        <div class="col-xs-12 col-sm-4 col-md-3 social-buttons">
            <div class="margin-b btn-group btn-group-justified btn-group-lg social-media-list" role="group">
                <v:page.menu pageUid="{settings.pidSocial}" entryLevel="0" expandAll="TRUE" levels="3" showHiddenInMenu="FALSE" as="socialMenu" classCurrent="" classActive="active" classHasSubpages="hasSub">
                    <f:for each="{socialMenu}" as="socialMenuItem" iteration="iterator">
                        <f:link.external class="btn btn-link" uri="{socialMenuItem.url}"><i class="fa fa-2x fa-{socialMenuItem.title}"></i></f:link.external>
                    </f:for>
                </v:page.menu>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12 brand">
            <div class="col-xs-2 visible-xs pull-right">
                <button type="button" class="collapsed btn btn-link" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <i class="fa fa-2x fa-bars"></i>
                </button>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-10">
                <f:link.typolink parameter="{settings.pidHome}">
                    <img src="fileadmin/Images/wolldeern_500x1301_heller.png" class="margin-b img-responsive img-center" />
                </f:link.typolink>
            </div>
        </div>
    </div>
    <div class="row">
        <nav id="navbar" class="navbar navbar-collapse collapse" role="navigation">
            <ul class="nav navbar-nav">
                <v:page.menu pageUid="{settings.pidPrimary}" entryLevel="0" expandAll="TRUE" levels="3" showHiddenInMenu="FALSE" as="menu" classCurrent="" classActive="active" classHasSubpages="hasSub">
                    <li role="presentation" class="{menu.class}"><f:link.typolink parameter="{settings.pidHome}">{settings.pidHome.title}</f:link.typolink></li>
                    <f:for each="{menu}" as="menuItem">
                        <li role="presentation" class="{menuItem.class}">
                            <f:link.typolink parameter="{menuItem.uid}">{menuItem.title}</f:link.typolink>
                        </li>
                    </f:for>
                </v:page.menu>
            </ul>
            <div class="hidden-xs pull-right collapse absolute" id="search-form">
                <form action="<f:uri.page pageUid='{settings.pidSearch}'/>" method="post">
                    <input type="text" name="tx_indexedsearch[sword]" class="form-control">
                </form>
            </div>
            <a id="search-toggle" class="btn btn-link collapsed" role="button" data-toggle="collapse" href="#search-form" aria-expanded="false" aria-controls="search-form">
                <i class="fa fa-2x fa-search"></i>
            </a>
        </nav>
    </div>
</header>