@import "../../bootstrap/css/bootstrap.min.css";
@import "../../bootstrap/css/justified-nav.css";
@import "../../bootstrap/css/carousel.css";
@import "../../bootstrap/css/font-awesome.min.css";

html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
a {
    color: #799C9C;
}
a:hover{
    text-decoration: none;
    color: #A66880;
}

h3 {
    margin-top: 10px;
}

.headline-home{
    clear: both;
    border-top: 6px double #769c9c;
    margin-top: 80px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}
.headline-home-inner{
    display: inline-block;
    background: #fff;
    padding: 10px 10px;
    position: relative;
    bottom: 25px;
}
.headline-home-inner > a {
    color: #769c9c;
}
.date-headline{
    clear: both;
    border-top: 3px solid #769c9c;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: -40px;
    margin-top: 20px;
}
.date-headline-inner{
    display: inline-block;
    background: #fff;
    padding: 13px 10px;
    position: relative;
    bottom: 25px;
}
.date-headline-inner > a {
    color: #769c9c;
}
.img-center{
    margin: 0 auto;
}
.teaser-home{
    margin-bottom: 20px;
    text-align: center;
}
.teaser-sidebar{
    margin-top: 30px;
    text-align: center;
}
.fa-facebook {
    color: #6b6c6b;
}
.fa-youtube {
    color: #6b6c6b;
}
.fa-google-plus {
    color: #6b6c6b;
}
.fa-pinterest-p {
    color: #6b6c6b;
}
.fa-bars{
    color: #799C9C;
}
.fa-search {
    color: #6b6c6b;
}
#search-toggle {
    position: relative;
    float: right;
}
.social-media-list {
    padding-left: 0;
    list-style: none;
}
.social-media-list li {
    display: inline-block;
}
.social-media-list .btn {
    padding: 5px 7px;
}
.social-media-list .btn:hover .fa-facebook {
    /*color:  #3b5998;*/
    color:  #A66880;
}
.social-media-list .btn:hover .fa-pinterest-p{
    /*color: #CB2027;*/
    color: #A66880;
}
.social-media-list .btn:hover .fa-youtube{
    /*color: #e52d27;*/
    color: #A66880;
}
.social-media-list .btn:hover .fa-google-plus {
    /*color: #dc3636;*/
    color: #A66880;
}
.social-buttons {
    float: right;
}
.btn:hover .fa-search{
    color: #A66880  ;
}
.btn-default {
    color: #fff;
    background-color: #799C9C;
    border-color: #799C9C;
}
.btn-default:hover {
    color: #fff;
    background-color: #A66880;
    border-color: #A66880;
}
.menu {
    margin: 0px 10px 10px 0px;
}
.nav-pills>li {
    margin-right: 20px;
}
.logo {
    vertical-align: middle;
}
/*.navbar ul li {*/
    /*background-color: #799C9C*/
/*}*/
.navbar ul li a {
    color: #799C9C;
}
.navbar ul li a:hover{
    background-color: #A66880;
    color: white;
}
.navbar .active{
    background-color: #A66880;
    color: white;
}
.navbar .active a{
    color: white;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

/* Carousel */
.carousel-caption {
    z-index: 10;
    float: left;
}

.margin-b {
    margin-bottom: 20px;
}

.well {
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    padding: 10px 19px 10px 19px;
}
.padding-left{
    padding-left: 15px;
}