<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">
	<!--<a class="btn btn-default btn-block hidden-sm hidden-md hidden-lg" data-target=".blog-category-collapse" data-toggle="collapse">-->
		<!--<span class="caret" aria-hidden="true"></span> Kategorien-->
	<!--</a>-->
	<div class="well">
		<!--<div class="navbar-collapse blog-category-collapse collapse">-->
		<h3>Kategorien</h3>
		<ul class="list-unstyled padding-left">
			<f:for each="{categories}" as="category">
				<f:if condition="{category.firstLevel}">
				<li>
					<f:link.action pageUid="{settings.blogsystem.pid}" controller="Post" action="category" arguments="{category: category}">
						{category.name}
					</f:link.action>
					<f:if condition="{category.childCategories}">
						<f:render section="categoryTree" arguments="{categories: category.childCategories}" />
					</f:if>
				</li>
				</f:if>
			</f:for>
		</ul>
		<!--</div>-->
	</div>
</f:section>

<f:section name="categoryTree">
	<ul>
	<f:for each="{categories}" as="category">
		<li>
			<f:link.action pageUid="{settings.blogsystem.pid}" controller="Post" action="category" arguments="{category: category}">
				{category.name}
			</f:link.action>
			<f:if condition="{category.childCategories}">
				<f:render section="categoryTree" arguments="{categories: category.childCategories}" />
			</f:if>
		</li>
	</f:for>
	</ul>
</f:section>

</div>