<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">
	<div class="well">
		<h3>Archiv</h3>
		<f:groupedFor each="{posts}" as="postsByYear" groupBy="publishYear" groupKey="year">
			<h4>
				{year}
				<small>({postsByYear -> f:count()})</small>
			</h4>
				<f:groupedFor each="{postsByYear}" as="postsByMonth" groupBy="publishMonth" groupKey="month">
					<strong>
						<f:cObject typoscriptObjectPath="lib.tx_t3extblog.month" data="{f:format.date(format:'U' date:'1/1 -1 day +{month} months')}" />
					</strong>
					<small>({postsByMonth -> f:count()})</small>

					<ul class="list-unstyled padding-left">
						<f:for each="{postsByMonth}" as="post">
							<li>
								<!--<span class="date"><f:format.date format="d.m.Y">{post.publishDate}</f:format.date></span>&nbsp;-->
								<f:link.action controller="Post" action="show" arguments="{post.linkParameter}" pageUid="{settings.blogsystem.pid}">
									{post.title}
								</f:link.action>
							</li>
						</f:for>
					</ul>
				</f:groupedFor>
			</ul>
		</f:groupedFor>
	</div>
</f:section>

</div>