
<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">

	<f:render partial="Post/Filter" arguments="{category: category, tag: tag}" />

	<f:if condition="{posts}">
		<f:widget.paginate objects="{posts}" as="paginatedPosts" configuration="{settings.latestPosts.paginate}">
			<div class="teaser-home">
				<div class="row">
					<f:for each="{paginatedPosts}" as="post">
						<div class="col-xs-12 col-lg-4">
							<h2>{post.title}</h2>
							<p>{post.previewText}</p>
							<p>
								<f:link.action class="btn btn-default" controller="Post" action="show" pageUid="{settings.blogsystem.pid}" arguments="{post.linkParameter}">
									Mehr lesen &raquo;
								</f:link.action>
							</p>
						</div>
					</f:for>
				</div>
			</div>
		</f:widget.paginate>
	</f:if>

</f:section>

</div>