<div xmlns:t3b="http://typo3.org/ns/TYPO3/T3extblog/ViewHelpers/Frontend" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<div class="row">
	<div class="col-md-6 form-group {t3b:formError(for: 'newComment.text')}">
		<label class="control-label sr-only" for="newComment.text">
			<f:translate key="comment.text" />
		</label>
		<div class="controls">
			<f:form.textarea additionalAttributes="{required: 'required'}" class="form-control" id="newComment.text" property="text" rows="10" cols="10" />
			<span class="help-block small">{settings.blogsystem.comments.allowTags}</span>
		</div>
	</div>

	<div class="col-md-6 form-horizontal">
		<div class="form-group {t3b:formError(for: 'newComment.author')}">
			<label class="col-sm-3 control-label" for="newComment.author">
				<f:translate key="comment.author" />
			</label>
			<div class="col-sm-9">
				<f:form.textfield additionalAttributes="{required: 'required'}" class="form-control" id="newComment.author" property="author" />
			</div>
		</div>

		<div class="form-group {t3b:formError(for: 'newComment.email')}">
			<label class="col-sm-3 control-label" for="newComment.email">
				<f:translate key="comment.email" />
			</label>
			<div class="col-sm-9">
				<f:form.textfield additionalAttributes="{required: 'required'}" class="form-control" id="newComment.email" property="email" />
			</div>
		</div>
		<div class="form-group {t3b:formError(for: 'newComment.website')}">
			<label class="col-sm-3 control-label" for="newComment.website">
				<f:translate key="comment.website" />
			</label>
			<div class="col-sm-9">
				<f:form.textfield placeholder="{f:translate(key: 'comment.optional')}" class="form-control" id="newComment.website" property="website" />
			</div>
		</div>


		<f:if condition="{settings.blogsystem.comments.subscribeForComments}">
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<div class="checkbox">
						<label for="newComment.subscribe">
							<f:form.checkbox property="subscribe" id="newComment.subscribe" value="1"/> Erhalte Benachrichtigungen bei neuen Kommentaren
						</label>
					</div>
				</div>
			</div>
		</f:if>
	</div>
</div>

</div>