<div xmlns:t3b="http://typo3.org/ns/TYPO3/T3extblog/ViewHelpers/Frontend" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<t3b:flashMessages />

<t3b:commentAllowed post="{post}">
	<f:then>
		<f:render section="commentForm" arguments="{_all}" />
	</f:then>
	<f:else>
		<p class="alert alert-info"><f:translate key="comment.disabled" /></p>
	</f:else>
</t3b:commentAllowed>


<f:section name="commentForm">
	<f:form
		controller="Comment"
		action="create"
		section="comment-section"
		name="newComment"
		object="{newComment}"
		arguments="{post.linkParameter}">

		<f:render partial="FormErrors" arguments="{object: Comment, anchorLink: '{f:uri.action(action: \'create\', controller: \'Comment\', arguments: post.linkParameter)}'}" />

		<fieldset>
			<legend>Hinterlasse einen Kommentar</legend>

			<f:render partial="Comment/FormFields" />
		</fieldset>
		<fieldset class="row">
			<div class="col-md-3">
				<div class="form-group">
					<f:form.submit class="btn btn-default btn-block" value="Absenden" />
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<f:render partial="SpamCheck" arguments="{spamSettings: settings.blogsystem.comments.spamCheck}" />
				</div>
			</div>
		</fieldset>
	</f:form>
</f:section>

</div>