{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="container">
    <f:render partial="header.html" arguments="{_all}" />
    <div class="page-content ">
        <v:content.render column="0"/>
        <!--<div class="col-sm-8 col-xs-12">-->
            <!--<div class="date-headline">-->
                <!--<div class="date-headline-inner">-->
                    <!--17.06.2016-->
                <!--</div>-->
            <!--</div>-->
            <!--<h2 class="text-center">SAMPLE POST</h2>-->
            <!--<div class="text-center">3 Kommentare Kommentar schreiben</div>-->
            <!--<img class="img-responsive img-center" src="fileadmin/Images/Kissen.jpg" />-->
            <!--<p>-->
                <!--Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam-->
                <!--nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam-->
                <!--erat, sed diam voluptua.-->
            <!--</p>-->
            <!--<br>-->

            <!--<div class="date-headline">-->
                <!--<div class="date-headline-inner">-->
                    <!--<f:link.typolink parameter="4">17.06.2016</f:link.typolink>-->
                <!--</div>-->
            <!--</div>-->
            <!--<h2 class="text-center">SAMPLE POST</h2>-->
            <!--<div class="text-center">3 Kommentare Kommentar schreiben</div>-->
            <!--<img class="img-responsive img-center" src="fileadmin/Images/Kissen.jpg" />-->
            <!--<p>-->
                <!--Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam-->
                <!--nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam-->
                <!--erat, sed diam voluptua.-->
            <!--</p>-->
        <!--</div>-->
        <f:render partial="footer.html" arguments="{_all}" />
    </div>
</div>
