<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:if condition="{spamSettings.isHumanCheckbox} > 0">
	<div class="checkbox">
		<label for="newComment.human">
			<input type="checkbox" id="newComment.human" name="tx_t3extblog[human]" value="1" autocomplete="off">
			Ich bin kein Roboter
		</label>
	</div>
</f:if>

<f:if condition="{spamSettings.honeypot} > 0">
	<div style="display: none">
		<f:comment>
			Honypot check
			Do not alter these fields!
		</f:comment>
		<input type="text" name="tx_t3extblog[author]" value="" autocomplete="off">
		<input type="text" name="tx_t3extblog[link]" value="" autocomplete="off">
		<input type="text" name="tx_t3extblog[text]" value="" autocomplete="off">
		<input type="text" name="tx_t3extblog[timestamp]" value="1368283172" autocomplete="off">
	</div>
</f:if>

</div>